@layer globel {
  :root {
    --Primary-blue: hsl(215, 51%, 70%);
    --Primary-cyan: hsl(178, 100%, 50%);
    --Neutral-blue950: hsl(217, 54%, 11%);
    --Neutral-blue900: hsl(216, 50%, 16%);
    --Neutral-blue800: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
  }
  /* outfit-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/outfit-v15-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* outfit-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/outfit-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* outfit-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/outfit-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  * {
    margin: 0;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  img,
  svg,
  picture {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
}

body {
  display: grid;
  height: 100vh;
  padding: 1.35em;
  font-size: 1.125rem;
  place-items: center;
  background-color: var(--Neutral-blue950);
  font-family: Outfit, "Helvetica Neue", Helvetica, sans-serif;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    border-radius: 20px;
    background-color: var(--Neutral-blue900);
    box-shadow: 1px 20px 50px 10px hsl(213.3, 27.3%, 6.5%);
    @media (min-width: 400px) {
      width: 350px;
    }

    .card-image {
      position: relative;
      .equilibrium {
        border-radius: 10px;
        @media (min-width: 400px) {
          width: 300px;
        }
      }
      .overlay {
        background-color: rgba(0, 255, 247, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        opacity: 0;
        cursor: pointer;
        transition: opacity 250ms;
      }
      .overlay:hover {
        opacity: 1;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 1.75em;

      h1 {
        font-weight: 600;
        font-size: 1.375rem;
        color: var(--white);
        transition: color 250ms;
        margin-bottom: 20px;
        &:hover {
          cursor: pointer;
          color: var(--Primary-cyan);
        }
      }
      p {
        margin-bottom: 20px;
        line-height: 1.5;
        font-size: 1rem;
        font-weight: 400;
        color: var(--Primary-blue);
      }
      .creater {
        display: flex;
        gap: 15px;
        align-items: center;
        font-weight: 300;
        p {
          font-size: 0.9375rem;
          color: var(--Primary-blue);
          font-weight: 300;
          margin: 0;
          span {
            transition: color 250ms;
            &:hover {
              cursor: pointer;
              color: var(--Primary-cyan);
            }
            color: var(--white);
          }
          span {
            font-size: 0.9375rem;
          }
        }

        .avater {
          width: 35px;
          height: 35px;
          border: 1.5px solid var(--white);
          border-radius: 25px;
        }
      }
      #copyright {
        margin-top: 20px;
        color: wheat;
      }
    }

    hr {
      height: 1px;
      color: var(--Neutral-blue800);
      margin-bottom: 15px;
      margin-top: 15px;
      @media (min-width: 400px) {
        margin-top: 24px;
      }
    }
    .coins {
      display: flex;
      justify-content: space-between;

      :first-child {
        color: var(--Primary-cyan);
        font-weight: 400;
        font-size: 1rem;
      }
      span {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      :last-child {
        font-size: 1rem;
        font-weight: 300;
        color: var(--Primary-blue);
      }
    }
  }
}
